
.nav-container {
    height: 70px;
    width: 100%;
    background-color: #101328;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 999;
  }
  
  .nav-left {
    flex: 3;
  }
  
  .logo {
    font-size: 1.8rem;
    margin-left: 10%;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .nav-center {
    flex: 5;
  }
  
 
  
  .nav-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }

  
  .nav-icons {
    display: flex;
    margin-right: 10%;
  }


