
.nav-container {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 30, 60);
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 999;
  }
  
  .nav-left {
    flex: 3;
  }
  
  .logo {
    font-size: 1.8rem;
    margin-left: 10%;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .nav-center {
    flex: 5;
  }
  
 
  
  .nav-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }

  /* .nav-links{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .nav-link {
    margin-right: 15px;
    font-family: 'roboto';
    font-size: 14px;
    cursor: pointer;
  } */
  
  .nav-icons {
    display: flex;
    margin-right: 10%;
  }


 
  /* .navbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10%;
  } */
  /* .icon{
    color: white;
  } */